{% load crispy_forms_tags %}
<div class="row mt-3">
    <div class="form-group">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add-experience">
            <em class="bi bi-plus"></em> Add Experience
        </button>
    </div>
    <!-- add experience modal -->
    <div class="modal fade" id="add-experience" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-uppercase" id="add-experienceModalLabel">Add Experience</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form mt-3 mb-3" method="post">
                        {% csrf_token %}
                        {{experience_form|crispy}}
                        <input type="submit" class="btn btn-primary" name="{{experience_form.prefix}}" value="Submit" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end add experience modal -->
</div>