{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Details{% endblock %}
{% load humanize %}
{% block extra_head %}
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <h5 class="mt-3">{{c_user.first_name|title}} {{c_user.last_name|title}}</h5>
    </div>

    <div class="row mt-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a href="#Education" class="nav-link active" data-bs-toggle="tab">Education</a>
            </li>
            <li class="nav-item">
                <a href="#Experience" class="nav-link" data-bs-toggle="tab">Experience</a>
            </li>
            <li class="nav-item">
                <a href="#Referees" class="nav-link" data-bs-toggle="tab">Referees</a>
            </li>
            <li class="nav-item">
                <a href="#Documents" class="nav-link" data-bs-toggle="tab">Documents</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Education section -->
            <div class="tab-pane fade show active" id="Education">
                {% include 'resume/modals/education-modal.html' %}
            </div>

            <div class="tab-pane fade" id="Experience">
                {% include 'resume/modals/experience-modal.html' %}
            </div>

            <div class="tab-pane fade" id="Referees">
                {% include 'resume/modals/referee-modal.html' %}
            </div>

            <div class="tab-pane fade" id="Documents">
                {% include 'resume/modals/document-modal.html' %}
                
            </div>
        </div>
      
    </div>
</div>
{% endblock %}