{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Talent Portal Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h4 class="mt-2">My Dashboard</h4>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col shadow g-2">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <em class="bi bi-mortarboard-fill text-success"></em> &nbsp; Education</h5>
                </div>
            </div>
        </div>
        <div class="col shadow g-2">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <em class="bi bi-life-preserver text-danger"></em> &nbsp; Experience
                    </h5>
                </div>
            </div>
        </div>
        <div class="col shadow g-2">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <em class="bi bi-file-earmark-check text-info"></em>&nbsp; Documents</h5>
                </div>
            </div>
        </div>
        <div class="col shadow g-2">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <em class="bi bi-people-fill text-primary"></em>&nbsp; Referees
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-5 shadow border-end g-2">
            <h5 class="mt-1">Recent Applications</h5>
            applications list    
        </div>
        <div class="col-sm-6 shadow g-3">
            <h3 class="border-bottom fw-bolder mt-1">Updates</h3>
        </div>
    </div>
</div>
{% endblock %}
